<div class="container">
  <h1>Welcome to DinnerDash</h1> <br>

  <%= form_for :session, url: sign_in_path do |f| %>
    <div class="field">
      <%= f.email_field :email, placeholder: "email", autofocus: true %>
    </div>
    <br>
    <div class="field">
      <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
    </div> <br>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div> <br>
    <p style="font-size: 20px;">New user? <%= link_to "Sign up now!", new_user_path %></p>
  <% end %>
</div>

<% flash.each do |k, v| %>
 <p>
   <%= v %>
 </p>
<% end %>