<p><%= @cart %></p>

<%= form_for :item do |f| %>
<p>
	<%= f.label :id %>
	<%= f.text_field :id%>
</p>
<p>
	<%= f.label :quantity %>
	<%= f.text_field :quantity %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>