<div class="container">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert-error">
          O formulário contém <%= pluralize(@user.errors.count, "erro") %>.
        </div>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_field :name, placeholder: "Name" %>
    </div>
    <div class="field">
      <%= f.email_field :email, placeholder: "email" %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: "Password" %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
    </div>
    <br>
    <div class="field" style="font-size: 20px;">
      <%= f.check_box :admin %>Admin?
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Cadastrar", class: "btn btn-primary" %>
    </div>
  <% end %>
  <br>
</div>