<h1>Listing items</h1>

<div class="container">
  <table class="table table-striped">
    <tr>
      <th style="text-align: center;">Name</th>
      <th style="text-align: center;">Description</th>
      <th style="text-align: center;">Price</th>
      <th style="text-align: center;">Add to cart</th>
    </tr>
   
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= link_to "Cart", add_cart_path(item) %></td>
      </tr>
    <% end %>
  </table>
</div>


<%= link_to 'New item', new_item_path %>