<h1>Listing items</h1>

<%= form_tag items_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search by Category" %>
<% end %>

<%= link_to "Search", new_search_path %>

<div class="container">
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Add to cart</th>
    </tr>
   
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <td><% link_to "Cart", add_cart_path(item) %>
          <a href="/cart">Cart</a>
        </td>
      </tr>
    <% end %>
</div>

</table>

<%= link_to 'New item', new_item_path %>