<h1>Listing items</h1>

<%= form_tag items_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search by Category" %>
<% end %>

<%= link_to "Search", new_search_path %>

<div class="container">
  <table class="table table-striped">
    <tr>
      <th style="text-align: center;">Name</th>
      <th style="text-align: center;">Description</th>
      <th style="text-align: center;">Price</th>
      <th style="text-align: center;">Add to cart</th>
    </tr>
   
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td>
          <%= link_to item_path(item), class: "button" do %>
            <i class="glyphicon glyphicon-share "></i>
          <% end %>
        </td>
        <td><%= item.price %></td>
<<<<<<< HEAD
        <td><%= link_to 'Destroy', item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <td><% link_to "Cart", add_cart_path(item) %>
          <a href="/cart">Cart</a>
=======
        <td>      
          <%= link_to add_cart_path(item), class: "button" do %>
            <i class="glyphicon glyphicon-shopping-cart"></i>
          <% end %>
>>>>>>> 376a3057696c115e16b2faf0e4765697f58a8544
        </td>
        <% if current_user.try(:admin?) %>
          <td><%= link_to 'Edit item', edit_item_path %></td>
          <td><%= link_to 'Delete item', delete_item_path  %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to 'New item', new_item_path %>
<% end %>
