<div class="container" style="font-size: 20px;">
	<p>
	  <strong>Name:</strong>
	  <%= @item.name %>
	</p>
	 
	<p>
	  <strong>Description:</strong>
	</p>
	<p>
	  <%= @item.description %>
	</p>
	<br>
	<p>
	  <strong>Price:</strong>
	  <%= @item.price %>
	</p>

	<%= link_to 'Edit', edit_item_path(@item) %> |
	<%= link_to 'Back', items_path %>
</div>	