<!DOCTYPE html>
<html>
  <head>
    <title>Dinnerdash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
  	<nav class="navbar navbar-inverse">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">DinnerDash</a>
	    </div>
	    <ul class="nav nav-pills">
	      <li class="active"><%= link_to "Home", items_path %></li>
        <li><%= link_to "My Cart", cart_path %></li>
	      <li><%= link_to "My Profile", current_user %></li>
	    </ul>
	    <ul class="nav navbar-right">
        <li>
          <%= link_to new_user_path, class: "button" do %>
            <i class="glyphicon glyphicon-user"></i>&nbsp; Sign In
          <% end %>
        </li>
        <li>
         <%= link_to sign_out_path, method: :delete, class: "button" do %>
           <i class="glyphicon glyphicon-log-in"></i>&nbsp; Sign out
         <% end %>
       </li>
        <li>
          <%= link_to sign_in_path, class: "button" do %>
            <i class="glyphicon glyphicon-log-in"></i>&nbsp; Log In
          <% end %>
        </li>

	    </ul>
		</nav>

  	<div class="container">
    	<%= yield %>
  	</div>
  </body>
</html>
